@tailwind base;
@tailwind components;
@tailwind utilities;

/* Lato Fonts */
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/Lato/Lato-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/Lato/Lato-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/Lato/Lato-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/Lato/Lato-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/Lato/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/Lato/Lato-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

/* Passion One Fonts */
@font-face {
  font-family: "Passion One";
  src: url("../../public/fonts/Passion_One/PassionOne-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Passion One";
  src: url("../../public/fonts/Passion_One/PassionOne-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Passion One";
  src: url("../../public/fonts/Passion_One/PassionOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Poppins Fonts */
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Black.ttf");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../../public/fonts/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

/* REM Fonts */
@font-face {
  font-family: "REM";
  src: url("../../public/fonts/REM/REM-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "REM";
  src: url("../../public/fonts/REM/REM-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "REM";
  src: url("../../public/fonts/REM/REM-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "REM";
  src: url("../../public/fonts/REM/REM-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "REM";
  src: url("../../public/fonts/REM/REM-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "REM";
  src: url("../../public/fonts/REM/REM-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "REM";
  src: url("../../public/fonts/REM/REM-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "REM";
  src: url("../../public/fonts/REM/REM-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "REM";
  src: url("../../public/fonts/REM/REM-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "REM";
  src: url("../../public/fonts/REM/REM-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

.mySwiper {
  padding-bottom: 35px !important;
}

.swiper-pagination-bullet {
  background: #ffffff !important;
}

